*.mod.*
*.ko
*.o
*.cmd
*.lo
*.la
*.deps
*.libs
config.log
config.status
*Makefile
*Makefile.in
libtool
*.m4
autom4te.cache/
build-aux/
config.h.in~
src/module/.tmp_versions/
src/module/Module.symvers
src/module/modules.order
stamp-h1
ccontrol.pc
config.h
src/utils/ccontrol
config.h.in
configure
*.out
